*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*box-sizing: border-box;*/
}

.flex-container{
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('https://www.themoviedb.org/t/p/original/ccaZ3yyyC6rcMAQrlLZ51FpahNO.jpg') no-repeat;
    background-size: cover;
}

.flex-container .menu-tv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    
    background-color: rgba(22,19,14,.5);
}

.menu-tv::before{
    content: "";
    width: 2px;
    height: 600px;
    position: absolute;
    background: linear-gradient(to top, rgba(22,19,14,.5),white,rgba(22,19,14,.5));
    margin-right: -65px;
}

.menu-tv a {
    text-decoration: none;
    color: #ffff;
    padding-top: 7px;
    padding-bottom: 25px;
}

#home{
    color:#9b141c;
}

.home::before{
    content: '';
    height: 28px;
    width: 2px;
    background-color: #9b141c;
    position: absolute;
    margin-left: -20px;

}

 .menu-tv a:hover{
    color: #9b141c;
    cursor: pointer;
}

.conteudo{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    align-items: flex-start;
    color: white;
    margin-left: 25px;
}

.conteudo .destaque{
    margin-top: 9%;
    font-size: 16px;
    height: 400px;

    justify-content: center;
}

.titulo p{
    font-size: 24px;
    justify-items: center;
}

.titulo p img{
    width: 92px;
    height: 17px;
}

.titulo h3{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 60px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botoes button{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
    justify-items: center;

    margin-bottom: 25px;

    border-radius: 5px;
}

.botoes .selected{
    background-color: white;
    color: black;
}

.botoes button i{
    width: 5px;
    height: 5px;
    margin-right: 12px;
}

.botoes button:hover{
    background-color: white;
    color: black;
}

.descricao h4{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.descricao p{
    width: 50%;
}

.user-list h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.box-film{
    height: 100%;
    width: 100%;
}

.trailer{
    background-color: black;
    width: 100%;
    height: 100%;
}

.trailer video{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-size: cover;
}

.control-video {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.control-video i{
    color: white;
}